<div class="crumbs">
  <ul id="breadcrumbs" class="breadcrumb">
    <li><a href="#">Dashboard</a></li>
  </ul>
  <ul class="crumb-buttons">
    <li><%= link_to academies_path do %><span>Academias</span><% end %></li>
  </ul>
</div>
<div class="page-header">
  <div class="page-title">
    <h2>Agregar Academia</h2>
    <span>Good morning, John!</span>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= render 'form' %>
    <%= link_to 'Regresar', academies_path, :class => "btn btn-primary pull-right" %><br>
  </div>
</div>
