<div class="crumbs">
  <ul id="breadcrumbs" class="breadcrumb">
    <li><%= link_to "Dashboard", root_path %></li>
  </ul>
  <ul class="crumb-buttons">
    <li><%= link_to students_path do %><span>Alumnos</span><% end %></li>
  </ul>
</div>
<div class="page-header">
  <div class="page-title">
    <h2>Agregar Estudiante</h2>
    <span>Good morning, John!</span>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= render 'form' %>
    <%= link_to 'Regresar', students_path, :class => "btn btn-primary pull-right" %><br>
  </div>
</div>
