<header class="header navbar navbar-fixed-top" role="banner"><!-- Header -->
  <div class="container" id="container-header"><!-- Top Navigation Bar -->
    <ul class="nav navbar-nav"><!-- Only visible on smartphones, menu toggle -->
      <li class="nav-toggle"><a href="javascript:void(0);" title=""><i class="fa fa-bars"></i></a></li>
    </ul>
    <a class="navbar-brand" href="#"><!-- Logo -->
      R<strong>U</strong>A
    </a><!-- /logo -->
    <a href="#" class="toggle-sidebar bs-tooltip" data-placement="bottom" data-original-title="Toggle navigation"><!-- Sidebar Toggler -->
      <i class="fa fa-bars"></i>
    </a><!-- /Sidebar Toggler -->
    <ul class="nav navbar-nav navbar-right"><!-- Top Right Menu -->
      <li class="dropdown user"><!-- User Login Dropdown -->
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-user"></i>
          <span class="username">John Doe</span>
          <i class="fa fa-caret-down small small"></i>
        </a>
        <ul class="dropdown-menu">
          <li><a href="pages_user_profile.html"><i class="fa fa-user"></i> My Profile</a></li>
          <li><a href="pages_calendar.html"><i class="fa fa-calendar"></i> My Calendar</a></li>
          <li><a href="#"><i class="fa fa-tasks"></i> My Tasks</a></li>
          <li class="divider"></li>
          <li><a href="login.html"><i class="fa fa-key"></i> Log Out</a></li>
        </ul>
      </li><!-- /user login dropdown -->
    </ul>	<!-- /Top Right Menu -->
  </div><!-- /top navigation bar -->
</header> <!-- /.header -->
